<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- LOGO -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo active" href="/home" title="Home">
        <svg id="logoRDStationMarketing" class="brand-rdstation-logo brand-rdstation-mkt-logo" width="200px" fill="white" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 311 40.74">
          <path class="pathLogo" d="M200.69,21.71c-.13-2.39-.28-5.26-.25-7.4h0c-.59,2-1.31,4.17-2.18,6.55l-3,8.37h-1.69L190.69,21c-.82-2.43-1.51-4.66-2-6.71h0c-.05,2.14-.18,5-.33,7.58l-.46,7.35h-2.11L187,12.13h2.86l2.91,8.25c.71,2.1,1.29,4,1.72,5.74h.08c.43-1.72,1-3.59,1.8-5.74l3-8.25h2.86l1.07,17.11h-2.16Z"></path>
          <path class="pathLogo" d="M209.5,23.95l-1.75,5.29h-2.37l5.81-17.11h2.66l5.84,17.11h-2.44l-1.8-5.29Zm5.57-1.87-1.68-4.95C213,16,212.75,15,212.49,14h-.05c-.26,1-.54,2.07-.87,3.11l-1.68,5Z"></path>
          <path class="pathLogo" d="M222.05,12.3a23.87,23.87,0,0,1,4.33-.36c2.41,0,4,.43,5.05,1.4a4.24,4.24,0,0,1,1.37,3.26A4.52,4.52,0,0,1,229.52,21v0c1.37.46,2.18,1.69,2.6,3.48a26.81,26.81,0,0,0,1.37,4.73h-2.37a21.88,21.88,0,0,1-1.18-4.12c-.53-2.38-1.47-3.27-3.55-3.35h-2.16v7.46h-2.18Zm2.18,7.91h2.27c2.37,0,3.87-1.3,3.87-3.26,0-2.21-1.6-3.18-3.95-3.21a9.11,9.11,0,0,0-2.19.2Z"></path>
          <path class="pathLogo" d="M235.74,12.13h2.18v8.4H238c.46-.67.93-1.29,1.37-1.86l5.32-6.54h2.49l-6.11,7.26,6.58,9.85h-2.58l-5.56-8.4-1.6,1.88v6.52h-2.18Z"></path>
          <path class="pathLogo" d="M258.44,21.15h-6.53v6.22h7.46v1.87h-9.64V12.13h9.33V14h-7.15v5.29h6.53Z"></path>
          <path class="pathLogo" d="M265.9,14h-5.29V12.13h12.75V14h-5.29V29.23H265.9Z"></path>
          <path class="pathLogo" d="M277.41,12.13V29.23h-2.18V12.13Z"></path>
          <path class="pathLogo" d="M281.14,29.23V12.13h2.15L289,20.78a47.76,47.76,0,0,1,3.21,5.56l.05,0c-.21-2.28-.27-4.37-.27-7V12.13h2.18V29.23h-2l-5.68-8.68a53.61,53.61,0,0,1-3.34-5.71l-.08,0c.13,2.16.19,4.21.19,7.06v7.31Z"></path>
          <path class="pathLogo" d="M311,28.46a16.17,16.17,0,0,1-5.3.94,8.91,8.91,0,0,1-6.45-2.27,8.8,8.8,0,0,1-2.41-6.39c0-5.12,3.56-8.86,9.35-8.86a10.73,10.73,0,0,1,4.3.79l-.54,1.81a9,9,0,0,0-3.82-.74c-4.2,0-6.94,2.6-6.94,6.9s2.64,6.92,6.66,6.92a7.31,7.31,0,0,0,3-.46v-5H305.4V20.21H311Z"></path>
          <g id="7a7b2626-ee12-48d4-a845-88dd91af2494" data-name="Logo RD Station">
            <path class="pathLogo" d="M0,5.16a47.65,47.65,0,0,1,7.28-.51c3.59,0,6.1.54,7.82,1.92a6.22,6.22,0,0,1,2.22,5.1,6.47,6.47,0,0,1-4.27,6v0c1.72.69,2.67,2.33,3.29,4.58.77,2.76,1.53,6,2,6.91H12.66a30.61,30.61,0,0,1-1.72-5.71c-.66-3.06-1.72-3.89-4-3.93H5.29v9.64H0ZM5.6,15.55H7.77c2.75,0,4.38-1.38,4.38-3.51S10.63,8.67,8.1,8.64a13.81,13.81,0,0,0-2.5.18Z"></path>
            <path class="pathLogo" d="M20.53,5.15A49.24,49.24,0,0,1,28,4.64c4.63,0,7.64.83,10,2.61,2.53,1.88,4.13,4.89,4.13,9.19,0,4.67-1.7,7.89-4.05,9.88-2.57,2.14-6.48,3.15-11.26,3.15a47.73,47.73,0,0,1-6.26-.36Zm5.29,19.91a10.14,10.14,0,0,0,1.92.11c5,0,8.25-2.72,8.25-8.54,0-5.07-2.93-7.75-7.67-7.75a11.47,11.47,0,0,0-2.5.22Z"></path>
            <path class="pathLogo" d="M49.5,25.42A11.06,11.06,0,0,0,55.1,27c3.19,0,5.06-1.69,5.06-4.13,0-2.26-1.29-3.55-4.56-4.81-3.95-1.4-6.39-3.44-6.39-6.85,0-3.77,3.12-6.57,7.82-6.57a11,11,0,0,1,5.35,1.18l-.86,2.55a9.63,9.63,0,0,0-4.59-1.15c-3.3,0-4.56,2-4.56,3.62,0,2.26,1.47,3.37,4.81,4.66,4.09,1.58,6.17,3.55,6.17,7.1,0,3.73-2.76,7-8.47,7A12.49,12.49,0,0,1,48.71,28Z"></path>
            <path class="pathLogo" d="M69.66,7.8v4h4.66v2.49H69.66v9.45c0,2.17.61,3.4,2.39,3.4a7.08,7.08,0,0,0,1.84-.22L74,29.33a7.77,7.77,0,0,1-2.82.43,4.41,4.41,0,0,1-3.44-1.34c-.9-.94-1.23-2.5-1.23-4.56V14.31h-2.8V11.82h2.8V8.64Z"></path>
            <path class="pathLogo" d="M96.41,7.8v4h4.67v2.49H96.41v9.45c0,2.17.62,3.4,2.39,3.4a7.08,7.08,0,0,0,1.84-.22l.14,2.39a7.78,7.78,0,0,1-2.82.43,4.41,4.41,0,0,1-3.44-1.34c-.9-.94-1.23-2.5-1.23-4.56V14.31H90.5V11.82h2.8V8.64Z"></path>
            <path class="pathLogo" d="M87,29.23l-.25-2.18h-.11a6.45,6.45,0,0,1-5.29,2.57,4.93,4.93,0,0,1-5.29-5c0-4.17,3.72-6.46,10.4-6.42v-.36c0-1.43-.39-4-3.93-4A8.63,8.63,0,0,0,78,15.17l-.71-2.07A10.75,10.75,0,0,1,83,11.57c5.29,0,6.58,3.6,6.58,7.07v6.46a24.24,24.24,0,0,0,.29,4.14Zm-.54-9C83,20.21,79,20.82,79,24.23a2.82,2.82,0,0,0,3,3,4.36,4.36,0,0,0,4.24-2.93,3.32,3.32,0,0,0,.18-1Z"></path>
            <path class="pathLogo" d="M107.36,6.78a2,2,0,0,1-3.95,0,1.94,1.94,0,0,1,2-2,1.89,1.89,0,0,1,2,2m-3.49,5H107V29.23h-3.11Z"></path>
            <path class="pathLogo" d="M126.52,20.32c0,6.48-4.49,9.3-8.72,9.3-4.74,0-8.4-3.48-8.4-9,0-5.86,3.84-9.3,8.69-9.3,5,0,8.43,3.66,8.43,9m-13.9.18c0,3.84,2.21,6.73,5.32,6.73s5.32-2.86,5.32-6.81c0-3-1.48-6.73-5.25-6.73s-5.39,3.47-5.39,6.8"></path>
            <path class="pathLogo" d="M128.75,16.53c0-1.8,0-3.27-.14-4.71h2.7l.17,2.8h.22a6.44,6.44,0,0,1,5.79-3.29c2.42,0,6.19,1.45,6.19,7.45V29.23h-3.42V19.13c0-2.82-1-5.18-4-5.18a4.46,4.46,0,0,0-4.2,3.26,4.65,4.65,0,0,0-.21,1.48V29.23h-3.11Z"></path>
          </g>
          <rect class="pathLogo" x="165.14" width="1" height="40"></rect>
        </svg>
      
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="dashboard-menu">
          <a href="#">Dashboard</a>
        </li>
        <li id="attract-menu" class="dropdown ">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Atrair
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Postagens em Mídias Sociais</a>
            </li>
            <li>
              <a href="#">
                Anúncios no Facebook
                <span class="label label-beta">BETA</span>
              </a>
            </li>
            <li>
              <a href="#">Painel de palavras-chave</a>
            </li>
            <li>
              <a href="#">Otimização de Páginas (SEO)</a>
            </li>
            <li>
              <a href="#">Ferramentas para Blog</a>
            </li>
          </ul>
        </li>
        <li id="convert-menu" class="dropdown ">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Converter
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Landing Pages</a>
            </li>
            <li>
              <a href="#">Formulários</a>
            </li>
            <li>
              <a href="#">Pop-ups</a>
            </li>
            <li>
              <a href="#">Campos personalizados</a>
            </li>
          </ul>
        </li>
        <li id="relate-menu" class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Relacionar
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Monitoramento de Mídias Sociais</a>
            </li>
            <li>
              <a href="#">Base de Leads</a>
            </li>
            <li>
              <a href="#">Lead Scoring
                <small>(Pro)</small>
              </a>
            </li>
            <li>
              <a href="#">Lead Tracking
                <small>(Pro)</small>
              </a>
            </li>
            <li>
              <a href="#">
                Segmentação de Leads
                <span class="label label-primary">Novidade!</span>
              </a>
            </li>
            <li>
              <a href="#">Automação de Marketing</a>
            </li>
            <li>
              <a href="#">Email</a>
            </li>
          </ul>
        </li>
        <li id="analyze-menu" class="dropdown ">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Analisar
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Marketing BI
                <small>(Enterprise)</small>
              </a>
            </li>
            <li>
              <a href="#">Alcance</a>
            </li>
            <li>
              <a href="#">Visitas, Leads e Clientes</a>
            </li>
            <li>
              <a href="#">Fontes de Tráfego e Conversões</a>
            </li>
            <li>
              <a href="#">Páginas mais acessadas</a>
            </li>
            <li>
              <a href="#">Relatórios</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-account">
        <li id="account-menu" class="dropdown">
          <a class="navbar-account-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
            <span class="navbar-account-name" data-account-id="47583">Resultados Digitais</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu account-menu">
            <li class="">
              <a href="#">Conta</a>
              <span class="dropdown-client-id">ID: 47583-0123
                <span></span>
              </span>
            </li>
            <li class="">
              <a href="#">Integrações</a>
            </li>
            <li>
              <a href="#">Planos de Sucesso</a>
            </li>
            <li class="dropdown-buttons text-right">
              <a class="btn btn-sm btn-default change-account-link" data-target="#change_account" data-toggle="modal" href="javascript:void(0)">Trocar conta</a>
              <a class="btn btn-sm btn-default logout-link" href="#">Sair</a>
            </li>
          </ul>
        </li>
    
        <li id="js-notices-list" class="dropdown">
          <a href="javascript:void(0)" id="js-notices-icon-link" class="btn-notifications dropdown-toggle" data-toggle="dropdown">
            <span id="js-notices-badge" class="notifications-badge" style="display: none;"></span>
          </a>
    
          <ul class="dropdown-menu dropdown-notifications js-notices-container">
            <li class="notifications-header">Notificações</li>
            <li class="single-notification no-notifications js-no-notices">
              <img src="//d3ndvx6e67vt0s.cloudfront.net/assets/icons/notifications/no_notifications-9ca828b49830c6234f41f9ab68b6ec937510aaf838bf4059d2e60fdfbf3f2b0f.png"
                alt="No notifications">
              <p>Não há notificações.</p>
            </li>
          </ul>
    
        </li>
    
    
        <li id="app-menu" class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <!--?xml version="1.0" ?-->
            <svg fill="#D8D8D8" width="18" height="18" version="1.1" viewBox="0 0 16 16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <rect height="4" width="4"></rect>
              <rect height="4" width="4" x="6"></rect>
              <rect height="4" width="4" x="12"></rect>
              <rect height="4" width="4" y="6"></rect>
              <rect height="4" width="4" x="6" y="6"></rect>
              <rect height="4" width="4" x="12" y="6"></rect>
              <rect height="4" width="4" y="12"></rect>
              <rect height="4" width="4" x="6" y="12"></rect>
              <rect height="4" width="4" x="12" y="12"></rect>
            </svg>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a id="partner-center-link" class="hidden" href="#">RD Station Partners</a>
            </li>
            <li id="partner-central-spacer" class="dropdown-breaker hidden"></li>
    
            <li>
              <a target="_blank" href="#">Metodologia</a>
            </li>
            <li>
              <a title="Central de Ajuda" target="_blank" href="#">Central de Ajuda</a>
            </li>
            <li>
              <a title="Resultados Digitais" target="_blank" href="#">Materiais Educativos</a>
            </li>
            <li class="dropdown-breaker"></li>
            <li>
              <a target="_blank" href="#">RD Station Marketplace</a>
            </li>
            <li>
              <a target="_blank" href="#">RD Station App Store</a>
            </li>
            <li>
              <a title="Indique e Ganhe" target="_blank" href="#">Indique e Ganhe</a>
            </li>
          </ul>
        </li>
    
      </ul>
    </div>
  </div>
</nav>